*::before,
*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;

  margin-bottom: 100px;
}

@keyframes hueSpin{
  to{ -webkit-filter: hue-rotate(360deg); }
}

.sidebar{
  z-index: 1;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 15vh;

  background: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.sidebar__art{
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom left, grey, black);
  float: left;
  width: 15vh;
  height: 15vh;
}

.sidebar__art__foreground{
  z-index: 1;
  position: absolute;
  max-width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__art__background{
  z-index: 0;
  position: absolute;
  width: 110%;
  top: -5%;
  left: -5%;
  -webkit-filter: blur(10px);
}

.sidebar__main{
  float: left;
  width: calc(100% - 15vh);
}

.progress{
  position: relative;
  float: left;
  width: 100%;
  padding: .5em 0;
  margin: -.5em 0;
  background-color: rgba(0, 0, 0, 0.25);
  background-clip: content-box;

  transition: background .15s;
}

.sidebar:hover .progress{
  background-color: rgba(0, 0, 0, 0.5);
}

.progress__bar{
  position: relative;
  float: left;
  height: .25em;
  width: 0;

  background: #34344E;

  animation: hueSpin 10s linear infinite;
  transition: height .15s, margin .15s;

  cursor: pointer;
}

.progress__bar__handle{
  display: none;
  content: '';
  position: absolute;
  right: -.45em;
  top: -.13em;
  width: .5em;
  height: .5em;

  border-radius: 50%;
  background: #34344E;
  box-shadow: 0 0 20px #34344E;

  transition: box-shadow .15s, top .15s, right .15s, width .15s, height .15s, margin .15s;
}

.sidebar:hover .progress__bar__handle{
  display: block;
}

.progress__bar__handle--active{
  width: 1em;
  height: 1em;
  right: -.9em;
  top: -.25em;

  box-shadow: 0 0 5px #34344E;
}

.progress__details{
  overflow: hidden;
  padding: 2.25em .75em;
  float: right;
  width: 15%;
  text-align: right;

  font-size: 1em;
}

.progress__details__current,
.progress__details__length{
  float: left;
  width: 50%;
  padding-left: 1em;
}

.progress__details__current{
  font-weight: 400;
  color: #34344E;

  animation: hueSpin 10s linear infinite;
}

.progress__details__length{
  text-align: right;
}

.sidebar__main__details,
.controls{
  padding: 1em;
  color: #111;
}

.sidebar__main__details{
  float: left;
  width: 50%;
  font-size: 1em;
}

.sidebar__main__details__name{
  color: #34344E;
  font-weight: 600;

  animation: hueSpin 10s linear infinite;
}

.controls{
  float: left;
  width: 35%;
  padding: .5em 0;
}

.control{
  position: relative;
  width: 70px;
  height: 70px;
  float: left;

  text-indent: -99999px; /* hide text */
  border: 0;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;

  transition: opacity .1s ease-in;

  cursor: pointer;
  outline: none;
}

.control:hover{
  opacity: .9;
}

.control.disabled,
.control:disabled{
  opacity: .3;
  cursor: default;
}

.control--playing{
  background-image: url('../svg/playback/pause.svg');
}

.control--paused{
  background-image: url('../svg/playback/play.svg');
}

.control--previous{
  background-position: 40% center;
  background-image: url('../svg/playback/previous.svg');
}

.control--next{
  background-position: 60% center;
  background-image: url('../svg/playback/next.svg');
}

.main{
  float: left;
  width: 50%;
  padding: 1em 0;
  overflow-y: scroll;
  height: 85vh;
}

.tracks{
}

.track{
  overflow: hidden;
  list-style: none;
  padding: .75em .5em;

  font-size: .85em;

  cursor: move;
  transform: translateZ(0);
}

.track__gif,
.track__art {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  background-size: cover;
  background-position: center;

  opacity: .15;
}

.track__gif {
  z-index: -1;
}

.track__art {
  z-index: -2;
}

.track--playing,
.track--paused{
  color: white;
  font-weight: 600;
}

.track--playing{
  padding: 2em .5em;

  background: #111;
}

.track--paused{
  background: #666;
}

.track:hover{
  color: #131313;

  background-image: linear-gradient(to right, #D4D4D4, #f1f1f1);
}

.track--playing:hover,
.track--paused:hover{
  background: #111;
  color: white;
}

.track--playing:hover .track__art,
.track--playing:hover .track__gif,
.track--paused:hover .track__art,
.track--paused:hover .track__gif{
  opacity: 0;
}

.track__indicator,
.track__name,
.track__album,
.track__artists{
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: .75em;
}

.track__indicator{
  width: 5%;
  height: 1.5em;

  text-align: center;
  opacity: 0;
}

.track:hover .track__indicator,
.track--playing .track__indicator{
  opacity: 1;
}

.track__name{
  width: 30%;
}

.track__delete {
  float: left;
  width: 5%;
  padding: 0.13em;
  color: red;

  background: white;
  border: 0;
  border-radius: 2px;

  opacity: 0;

  cursor: pointer;
}

.track--playing .track__delete {
  background: none;
  color: white;
}

.track__delete:hover {
  background: red;
  color: white;
}

.track:hover .track__delete{
  opacity: 1;
}

.track--source-soundcloud .track__name{
  width: 57.5%;
}

.track__source{
  float: left;
  width: 5%;
  height: 1.25em;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: auto 100%;
}

.track--source-local .track__source{
  background-image: url('../svg/sources/local--black.svg');
}
.track--playing.track--source-local .track__source,
.track--paused.track--source-local .track__source{
  background-image: url('../svg/sources/local--white.svg');
}

.track--source-soundcloud .track__source{
  background-image: url('../svg/sources/soundcloud--black.svg');
}
.track--playing.track--source-soundcloud .track__source,
.track--paused.track--source-soundcloud .track__source{
  background-image: url('../svg/sources/soundcloud--white.svg');
}

.track--source-spotify .track__source{
  background-image: url('../svg/sources/spotify--black.svg');
}
.track--playing.track--source-spotify .track__source,
.track--paused.track--source-spotify .track__source{
  background-image: url('../svg/sources/spotify--white.svg');
}

.track__album,
.track__artists{
  width: 27.5%;
}

.track__artist{
  list-style: none;
  display: inline;
}

.track__artist > a{
  color: inherit;
  text-decoration: none;
}

.search{
  float: left;
  width: 50%;
  height: 85vh;
  overflow-y: scroll;
}

.search__heading {
  flex-basis: 100%;
  padding: .5em;

  font-weight: 300;
  font-size: 1em;
  color: black;

  background: black;
}

.result--youtube .search__heading {
  background: #cd201f;
}

.result--soundcloud .search__heading {
  background: #ff8800;
}

.result--spotify .search__heading {
  background: #2ebd59;
}

.search__box {
  overflow: hidden;

  background: black;
  color: white;
}

.search__icon,
.search__input{
  float: left;
  padding: 1em 1em;

  font-size: 1.5em;
  color: inherit;

  border: 0;
  background: inherit;
}

.search__icon{
  width: 10%;
}

.search__input{
  width: 90%;
}

.artists {
  display: block;
  overflow: hidden;
}

.artist {
  float: left;
  list-style: none;
  padding: .5em 1em;
  margin-bottom: .25em;
  margin-right: .25em;

  color: white;

  background: #34344E;

  animation: hueSpin 10s linear infinite;
}

.albums {
  display: flex;
  flex-flow: row wrap;
}

.album {
  list-style: none;
  width: 16.66%;
  padding: .5em;

  background: white;
}

.album__art img{
  display: block;
  max-width: 100%;
}

.album__name {
  padding: .5em;
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
  font-weight: 500;
  font-size: .85em;
}

.filters {
  display: flex;
}

.filter {
  flex-grow: 1;
  padding: 1em;

  color: white;
  font-weight: 800;
  text-transform: uppercase;

  border: 0;
  background: black;
  background-repeat: no-repeat;
  background-position: 5% center;
  background-size: auto 50%;

  cursor: pointer;
}

.filter--youtube {
  background-color: #cd201f;
}

.filter--soundcloud {
  background-color: #ff8800;
  background-image: url('../svg/sources/soundcloud--white.svg');
}
.filter--active.filter--soundcloud {
  background-image: url('../svg/sources/soundcloud--black.svg');
}

.filter--spotify {
  background-color: #2ebd59;
}
.filter--active.filter--spotify {
  background-image: url('../svg/sources/spotify--black.svg');
}

.filter--active {
  color: black;
}
