*::before,
*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;

  margin-bottom: 100px;
}

@keyframes hueSpin{
  to{ -webkit-filter: hue-rotate(360deg); }
}

.sidebar{
  z-index: 1;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 100px;

  background: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.sidebar__art{
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom left, grey, black);
  float: left;
  width: 100px;
  height: 100px;
  max-width: 10%;
}

.sidebar__art__foreground{
  z-index: 1;
  position: absolute;
  max-width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__art__background{
  z-index: 0;
  position: absolute;
  width: 110%;
  top: -5%;
  left: -5%;
  -webkit-filter: blur(10px);
}

.sidebar__main{
  float: left;
  width: 90%;
}

.progress{
  position: relative;
  float: left;
  height: 1em;
  width: 100%;

  box-shadow: inset 0 .125em 0 rgba(0, 0, 0, .15);
  transition: box-shadow .15s;
}

.sidebar:hover .progress{
  box-shadow: inset 0 .25em 0 rgba(0, 0, 0, .25);
}

.progress__bar{
  position: relative;
  float: left;
  height: .25em;

  background: #34344E;

  animation: hueSpin 10s linear infinite;
  transition: height .15s, margin .15s;

  cursor: pointer;
}

.progress__bar__handle{
  display: none;
  content: '';
  position: absolute;
  right: -.45em;
  top: -.13em;
  width: .5em;
  height: .5em;

  border-radius: 50%;
  background: #34344E;
  box-shadow: 0 0 20px #34344E;

  transition: box-shadow .15s, top .15s, right .15s, width .15s, height .15s, margin .15s;
}

.sidebar:hover .progress__bar__handle{
  display: block;
}

.progress__bar__handle--active{
  width: 1em;
  height: 1em;
  right: -.9em;
  top: -.25em;

  box-shadow: 0 0 5px #34344E;
}

.progress__details{
  overflow: hidden;
  padding: 2.25em .75em;
  float: right;
  width: 15%;
  text-align: right;

  font-size: 1em;
}

.progress__details__current,
.progress__details__length{
  float: left;
  width: 50%;
  padding-left: 1em;
}

.progress__details__current{
  font-weight: 400;
  color: #34344E;

  animation: hueSpin 10s linear infinite;
}

.progress__details__length{
  text-align: right;
}

.sidebar__main__details,
.controls{
  padding: 1em;
  color: #111;
}

.sidebar__main__details{
  float: left;
  width: 50%;
  font-size: 1em;
}

.sidebar__main__details__name{
  color: #34344E;
  font-weight: 600;

  animation: hueSpin 10s linear infinite;
}

.controls{
  float: left;
  width: 35%;
  padding: .5em 0;
}

.control{
  position: relative;
  width: 70px;
  height: 70px;
  float: left;

  text-indent: -99999px; /* hide text */
  border: 0;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;

  transition: opacity .1s ease-in;

  cursor: pointer;
  outline: none;
}

.control:hover{
  opacity: .9;
}

.control.disabled,
.control:disabled{
  opacity: .3;
  cursor: default;
}

.control--playing{
  background-image: url('../svg/playback/pause.svg');
}

.control--paused{
  background-image: url('../svg/playback/play.svg');
}

.control--previous{
  background-position: 40% center;
  background-image: url('../svg/playback/previous.svg');
}

.control--next{
  background-position: 60% center;
  background-image: url('../svg/playback/next.svg');
}

.main{
  padding: 1em 0;
}

.tracks{
}

.track{
  overflow: hidden;
  list-style: none;
  padding: .75em .5em;
  cursor: move;
}

.track--playing,
.track--paused{
  color: white;
  font-weight: 600;
}

.track--playing{
  background: linear-gradient(to right, #34344E, #2C3319);

  animation: hueSpin 10s linear infinite;
}

.track--paused{
  background: linear-gradient(to right, #111, #666);
}

.track:hover{
  color: #131313;

  background: linear-gradient(to right, #D4D4D4, #f1f1f1);
}

.track--playing:hover,
.track--paused:hover{
  background: black;
  color: white;
}

.track__indicator,
.track__name,
.track__album,
.track__artists{
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: .75em;
}

.track__indicator{
  width: 5%;

  text-align: center;
}

.track__name{
  width: 35%;
}

.track--source-soundcloud .track__name{
  width: 62.5%;
}

.track__source{
  float: left;
  width: 5%;
  height: 1.25em;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: auto 100%;
}

.track--source-local .track__source{
  background-image: url('../svg/sources/local--black.svg');
}
.track--playing.track--source-local .track__source,
.track--paused.track--source-local .track__source{
  background-image: url('../svg/sources/local--white.svg');
}

.track--source-soundcloud .track__source{
  background-image: url('../svg/sources/soundcloud--black.svg');
}
.track--playing.track--source-soundcloud .track__source,
.track--paused.track--source-soundcloud .track__source{
  background-image: url('../svg/sources/soundcloud--white.svg');
}

.track--source-spotify .track__source{
  background-image: url('../svg/sources/spotify--black.svg');
}
.track--playing.track--source-spotify .track__source,
.track--paused.track--source-spotify .track__source{
  background-image: url('../svg/sources/spotify--white.svg');
}

.track__album,
.track__artists{
  width: 27.5%;
}

.track__artist{
  list-style: none;
  display: inline;
}

.track__artist > a{
  color: inherit;
  text-decoration: none;
}

.search{
  overflow: hidden;
}

.search__icon{
  float: left;
  width: 10%;

  font-size: 1.5em;
  padding: .25em;
  text-align: center;
}

.search__input{
  float: left;
  width: 90%;

  padding: 1em;
  border: 0;
  border-bottom: dashed 1px;
}
